In [3]:
name:str = "Haseeb"
education:str = "BSCS"
age:int = 27

card:str = f"""
PIAIC Student Card
Student Name: {name}
Education: {education}
Age: {age}
"""

print(card)

PIAIC Student Card
Student Name: Haseeb
Education: BSCS
Age: 27

In [5]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
name: str = "Haseeb IJAZ"
print(name.capitalize())
print(name.lower())

Haseeb ijaz
haseeb ijaz

In [8]:
a=7
b=8
# {} placeholder
"pakistan value a={} and b={}".format(a,b)

'pakistan value a=7 and b=8'

In [10]:
card: str = """
PIAIC Student Card
Student Name: {1}
Age: {0}
Education: {2} 
""".format(age,name,education)

print(card)

PIAIC Student Card
Student Name: Haseeb IJAZ
Age: 27
Education: BSCS

In [11]:
card: str = """
PIAIC Student Card
Student Name: {a}
Age: {b}
Education: {c} 
""".format(a=name, b=age, c=education)

print(card)

PIAIC Student Card
Student Name: Haseeb IJAZ
Age: 27
Education: BSCS

In [12]:
student_code: str = """
print("My name is Haseeb")
a:int = 7
b:int = 8
print(a+b)
"""

exec(student_code)

My name is Haseeb
15

# Predefined global fucntions
* print
* id
* dir
* len
* type
* display

In [13]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [14]:
print(name.casefold())

haseeb ijaz

In [19]:
name:str = """      Haseeb     Ijaz   """
display(name.lstrip())
display(name.rstrip())
display(name.strip())

'Haseeb     Ijaz   '

'      Haseeb     Ijaz'

'Haseeb     Ijaz'

In [23]:
import re
name : str = """        Haseeb                  Ijaz          """

print(name)

name1: str = re.sub(' {2,100}',' ',name).strip()
display(name1)

        Haseeb                  Ijaz

'Haseeb Ijaz'

In [24]:
print(f"Hello {name1.title()}")

Hello Haseeb Ijaz

In [27]:
print("Name:\t Haseeb")
print("Name:\n Haseeb")
print("Name:\b Haseeb")

Name:	 Haseeb
Name:
 Haseeb
Name Haseeb

In [28]:
nostarch_url = "https://nostarch.com"
nostarch_url.removeprefix("https://")

'nostarch.com'

In [8]:
# !pip install pandas
# !pip install lxml -y
# !conda install lxml -y
import pandas as pd
# All tables get converted to the dataframe
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

# ASCII Functions
* chr() -> converts ascii to character
* ord() -> converts character to ascii

In [36]:
chr(65)

'A'

In [37]:
ord("A")

65

In [38]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [39]:
not True

False

In [40]:
name: str = "Haseeb"
print(not name == "Haseeb")

False

# Identity Operator

In [23]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [1]:
x: str = "abc"
y: str = "abc"

print(id(x))
print(id(y))

9201856
9201856

In [3]:
#Checks if physical address of both the variables are same
#In Python, the is operator is used to check if two variables point to the same object in memory.
#When x is y is evaluated, Python checks if both x and y refer to the exact same object in memory.

# == is for checking equality of values
# is operator is checking for the same object or not

x is y

True

In [5]:
a = [1,2,3]
b = a
c = [1,2,3]

print(a is b)
print(c is a)

True
False

In [6]:
#Usage
x = None
if x is None:
    print("x is None")

# It's also useful when dealing with mutable objects like lists or dictionaries, 
# where identity (is) checks whether two variables refer to the same instance can be crucial.

x is None

In [25]:
y = None
x = None
print(x is not y)
print(x is y)

False
True

# Python Membership Operators

In [10]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [13]:
names: list[str] = [chr(i) for i in range(65,91)]
print(names)

for i in range(len(names)):
    if names[i] == "D":
        print(True)
        break

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
True

In [17]:
print("D" in names)
print("pakistan" in names)
print("ABC" in names)
print(["A","B"] in names)
print([alpha in names for alpha in ["A", "B"]])

True
False
False
False
[True, True]

In [26]:
names: list[str] = ["Haseeb", "Ijaz","Sheikh"] 
uinput: str = input("Enter your name: ")
print("name in user input " if uinput in names else "name not in user input")
print(uinput in names)
print(uinput not in names)

name in user input
True
False

In [3]:
universe_age = 14_000_000_000
print(universe_age)

14000000000

# Multiple Assignment / Zip/UnZip / Destructuring / Pack/Unpack

In [4]:
x , y, z = 0 , 0 ,0

In [9]:
a, b, c = "a", 7.0, 4

In [10]:
# Whenever you write like this it becomes a tuple
"a", 7.0, 4

('a', 7.0, 4)

In [11]:
("a", 7.0, 4)

('a', 7.0, 4)

In [12]:
a,b,c = ("a", 7.0, 4)

In [13]:
data = ("a", 7.0, 4)
print(data[0], data[1], data[2])
print(*data) #It behaves like spread operator in javascript

a 7.0 4

In [17]:
# Spread OPerator / UnZip / UnPack
print(data)
print(*data) # = print(data[0],data[1],data[2]) # It spreads values in comma separated values manner, behaves like spread operator
print([*data]) # if you place * infront of the collection variable it will unzip or spread operator

('a', 7.0, 4)
a 7.0 4
['a', 7.0, 4]

In [19]:
#Also it becomes Rest operator if you put * in the function definition 
#Pack Operator / Zip Opeartor
#You can send any number of arguments to it , and it packs or collects it into data variable
def some_func(*data):
    print(data)
    print(*data)
    return
some_func(1,2,4,5)

(1, 2, 4, 5)
1 2 4 5

In [23]:
for i in data:
    print(i)

a
7.0
4

# Walrus Operator

In [24]:
#Walrus Operator
a:  int = 5
if(a < (b:= a +2)):
    print(b)

7

In [25]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!